/*开启BFC*/
.topbar-wapper{
    height: 40px;
    width: 100%;
    line-height: 40px;
    background-color: #333;
}/*设置浮动*/
.user-info, .shop-cart{
    float: right;
}
.service,.topbar li{
    float: left;
}
/*设置超链接字体*/
.topbar a{
    font-size: 12px;
    color: #b0b0b0;
    display: block;
}
.topbar a:hover{
    color: white;
}
/*设置竖线*/
.topbar .line{
    font-size: 12px;
    color:#424242;
    margin: 0 8px;
}
/*设置app下拉效果*/
.app .qrcoid img{
    width: 90px;
    margin: 17px 17px 13px;
}
.app .qrcoid{
    width: 124px;
    height: 148px;
    background-color: #fff;
    line-height: 1px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    position: absolute;
    left: -38px;
    /*display: none;*/
    height: 0px;
    overflow: hidden;
    transition: height 0.3s;
}
.app:hover .qrcoid,
.app:hover::after{
    display: block;
    height: 148px;
}
.app .qrcoid span{
    color: black;
}
/*设置app下的小三角*/
.app{
    position: relative;
}
.app::after{
    display: none;
    content:'';
    width: 0;
    height: 0;
    border:7px solid transparent;
    border-top: none;
    border-bottom-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
/*设置购物车*/
.shop-cart{
    margin-left: 26px;
}
.shop-cart a{
    width: 120px;
    background-color: #424242;
    text-align: center;
}
.shop-cart i{
    margin-right: 2px;
}
.shop-cart:hover a{
    background-color: #fff;
    color: #ff6700;
}
/*设置购物车下拉效果*/
.shop-cart .shop-bottom{
    width: 316px;
    height: 100px;
    font-size: 10px;
    position: absolute;
    left: -196px;
    bottom: -100px;
    line-height: 20px;
    display: none;
    background-color: white;
}
.shop-cart .shop-bottom span{
    display: block;
    margin-top: 40px;
    margin-left: 50px;
}
.shop-cart{
    position: relative;
}
.shop-cart:hover .shop-bottom{
    display: block;
}


/*设置header*/
.header{
    height: 100px;
}
/*设置logo*/
.header .logo{
    float: left;
    margin-top: 22px;
}
.header .logo a{
    display:block;
    width: 55px;
    height: 55px;
    background-color: #ff6700;
    background-image: url("../img/logo-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
/*设置中间导航条*/
.header .nav-wapper{
    float: left;
    margin-left: 7px;
}
.header .nav{
    height: 100px;
    width: 792px;
    line-height: 100px;
    padding-left: 58px;
}
.nav-wapper li{
    float: left;
}
.header .nav li a{
    display: block;
    font-size: 16px;
    margin-right: 20px;
}
.header .nav li a:hover{
    color: #ff6700;
}
.all-goods{
    visibility: hidden;
}
